*{
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
}
.navbar{
    color: white;
    background-color: rgb(228, 200, 86);
    padding: 10px;
    padding-left: 20px;
}
nav a{
    color: white;
    text-decoration: none;
}

ul,li,h1{
    display: inline-block;
} 
ul{
    position: sticky;
    left: 1000px;
    padding: 20px;   
    font-size: 20px;
}
li{
    padding-left: 20px;
    transition: transform 0.3s ease;
}
li:hover{
    color: grey;
    cursor: pointer;
    transform: scale(1.5);
}
